<section class="progress-box" style="background-image: url('https://blog.aragon.org/assets/progress.png')">
    <h4 id="tokeepupwiththeprogressofaragon">To keep up with the progress of Aragon</h4>
    <div class="container">
      <a href="https://wiki.aragon.org/jobs/">
          {{> "icons/progress-jobs"}}
          <p>Job</br>Openings</p>
      </a>
      <a href="https://twitter.com/aragonproject">
          {{> "icons/progress-twitter"}}
          <p>Aragon</br>Twitter</p>
      </a>
      <a href="https://aragon.chat/home">
          {{> "icons/progress-chat"}}
          <p>Aragon</br>Chat</p>
      </a>
    </div>
</section>
