<div class="hero">
  <div class="hero-container">
    <h2>Our Blog</h2>
    <h4>
      The Aragon community is united towards the same goal:  <br /> to re-shape the future of organizations.
    </h4>
  </div>
</div>
<div class="secondary-navbar">

  <div class="secondary-container">
    <a class="secondary-item" href="https://aragon.org/project/governance">
      {{> "icons/nav-governance"}}
      <h6>Governance</h6>
    </a>
    <a class="secondary-item" href="https://aragon.org/project/grants">
      {{> "icons/nav-grants"}}
      <h6>Grants</h6>
    </a>
    <a class="secondary-item" href="https://aragon.org/project/contribute">
      {{> "icons/nav-contribute"}}
      <h6>Contribute</h6>
    </a>
    <a class="secondary-item blog active" href="https://blog.aragon.org/" target="_blank">
      {{> "icons/nav-blog"}}
      <h6>Blog</h6>
    </a>
    <a class="secondary-item roadmap" href="https://aragon.org/project/roadmap">
      {{> "icons/nav-roadmap"}}
      <h6>Roadmap</h6>
    </a>
    <a class="secondary-item" href="https://aracon.one/" target="_blank">
      {{> "icons/nav-aracon"}}
      <h6>Events</h6>
    </a>
    <a class="secondary-item" href="https://wiki.aragon.org/" target="_blank">
      {{> "icons/nav-wiki"}}
      <h6>Wiki</h6>
    </a>
  </div>
</div>
