<?xml version="1.0" encoding="UTF-8"?>
<svg width="92px" height="71px" viewBox="0 0 92 71" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
    <title>speech-bubbles-comment-option 2</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <linearGradient x1="0%" y1="0%" x2="80.7983219%" y2="100%" id="linearGradient-1">
            <stop stop-color="#A9DEEC" offset="0%"></stop>
            <stop stop-color="#65D1E9" offset="100%"></stop>
        </linearGradient>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Links-blog" transform="translate(-450.000000, -218.000000)" fill="url(#linearGradient-1)">
            <g id="Group-4">
                <g id="Group-2" transform="translate(56.000000, 205.000000)">
                    <g id="speech-bubbles-comment-option-2" transform="translate(394.000000, 13.000000)">
                        <g id="speech-bubbles-comment-option">
                            <path d="M54.2525078,48.2033623 C59.8095234,45.9063449 64.1964141,42.7797022 67.4110234,38.822201 C70.6252734,34.8655806 72.2325781,30.5567792 72.2325781,25.8956203 C72.2325781,21.2342854 70.6252734,16.9251315 67.4097656,12.968335 C64.1955156,9.01153846 59.8093437,5.88454342 54.2516094,3.58699752 C48.693875,1.28980397 42.6490078,0.141647643 36.1161094,0.141647643 C29.58375,0.141647643 23.5388828,1.29050868 17.9807891,3.58699752 C12.4232344,5.88436725 8.03688281,9.01136228 4.82245313,12.968335 C1.60766406,16.9258362 0,21.2342854 0,25.8957965 C0,29.8858908 1.21594531,33.6432531 3.6440625,37.1641836 C6.072,40.6844094 9.40682031,43.6526675 13.6474453,46.0666675 C13.3056797,46.8721563 12.9551094,47.6089355 12.5959141,48.2805285 C12.2365391,48.9510645 11.8094219,49.5960546 11.313125,50.2169082 C10.8171875,50.837938 10.4328359,51.3238387 10.1589922,51.6747866 C9.88532812,52.0267916 9.44078125,52.5225583 8.8248125,53.1585633 C8.20902344,53.7958015 7.81550781,54.2149305 7.64480469,54.415598 C7.64480469,54.3819479 7.57634375,54.4578809 7.43942187,54.64234 C7.30232031,54.826799 7.22541406,54.9101315 7.20852344,54.8944516 C7.19127344,54.8763052 7.1228125,54.9601663 7.00314062,55.1446253 C6.88346875,55.3292605 6.82345312,55.421402 6.82345312,55.421402 L6.69497656,55.6721042 C6.64430469,55.7734069 6.60944531,55.8724194 6.59255469,55.9737221 C6.57530469,56.0736154 6.56667969,56.1833747 6.56667969,56.3003573 C6.56667969,56.41734 6.58357031,56.525866 6.61842969,56.6269926 C6.68689062,57.06233 6.88346875,57.4138065 7.20834375,57.6833598 C7.53303906,57.9511514 7.88325,58.084871 8.259875,58.084871 L8.41386719,58.084871 C10.1235937,57.850201 11.5945156,57.5820571 12.8255547,57.2799107 C18.0925547,55.9391911 22.8469062,53.7921017 27.0877109,50.8414615 C30.1655781,51.3781017 33.1753437,51.6462457 36.1164687,51.6462457 C42.6493672,51.648536 48.6949531,50.500732 54.2525078,48.2033623 Z" id="Path"></path>
                            <path d="M88.2901719,50.0639851 C90.7191875,46.5599677 91.9327969,42.7971439 91.9327969,38.7726948 C91.9327969,34.6476476 90.64875,30.7889826 88.0846094,27.2012804 C85.5192109,23.6139305 82.0302187,20.6289355 77.6187109,18.2480571 C78.4046641,20.7628313 78.798,23.3112556 78.798,25.8938586 C78.798,30.3869429 77.65375,34.6457097 75.3607578,38.6701588 C73.0693828,42.6933747 69.7859531,46.247603 65.5110078,49.333196 C61.5435078,52.1499404 57.0288594,54.3121811 51.9667031,55.8216799 C46.9059844,57.3301216 41.6215547,58.0852233 36.1150313,58.0852233 C35.089375,58.0852233 33.5843125,58.018804 31.6009219,57.8849082 C38.4750469,62.31034 46.5467891,64.524201 55.8148906,64.524201 C58.7565547,64.524201 61.7659609,64.2553524 64.8443672,63.7188883 C69.0849922,66.6707618 73.8395234,68.8159132 79.1061641,70.1580422 C80.3373828,70.4607171 81.808125,70.7283325 83.5182109,70.9628263 C83.9284375,70.9964764 84.3054219,70.8789653 84.6471875,70.6106452 C84.9891328,70.3425012 85.2117656,69.9746402 85.3138281,69.5056526 C85.2978359,69.3042804 85.3138281,69.1938164 85.3653984,69.1777841 C85.4158906,69.161928 85.4072656,69.0523449 85.3395234,68.8515012 C85.2719609,68.6499529 85.2374609,68.5493548 85.2374609,68.5493548 L85.1095234,68.2984764 C85.0739453,68.2322333 85.0160859,68.1393871 84.9300156,68.0224045 C84.8444844,67.9061266 84.7763828,67.8210323 84.7246328,67.7709975 C84.6743203,67.7209628 84.5979531,67.6365732 84.4946328,67.5201191 C84.3925703,67.4038412 84.32375,67.327732 84.28925,67.2940819 C84.1183672,67.0927097 83.7252109,66.6737568 83.1097812,66.0363424 C82.4936328,65.3998089 82.0498047,64.9052754 81.7761406,64.5532705 C81.5024766,64.2010893 81.1175859,63.7151886 80.6218281,63.0941588 C80.12625,62.4743623 79.6982344,61.8286675 79.3390391,61.1577792 C78.9800234,60.4872432 78.6294531,59.7492308 78.2875078,58.9449752 C82.5284922,56.5285087 85.8624141,53.5692357 88.2901719,50.0639851 Z" id="Path"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
