<?xml version="1.0" encoding="UTF-8"?>
<svg width="86px" height="72px" viewBox="0 0 86 72" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
    <title>Path</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <linearGradient x1="0%" y1="0%" x2="80.7983219%" y2="100%" id="linearGradient-1">
            <stop stop-color="#A9DEEC" offset="0%"></stop>
            <stop stop-color="#65D1E9" offset="100%"></stop>
        </linearGradient>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Links-blog" transform="translate(-270.000000, -221.000000)" fill="url(#linearGradient-1)">
            <g id="Group-4">
                <g id="Group-2" transform="translate(56.000000, 205.000000)">
                    <g id="Group" transform="translate(0.000000, 16.000000)">
                        <g id="Group-3" transform="translate(185.000000, 0.000000)">
                            <path d="M113.458277,8.45894737 C111.551421,9.30968421 109.571956,9.98084211 107.540808,10.4667368 C109.7789,8.32694737 111.461655,5.65052632 112.411002,2.66315789 C112.681976,1.81031579 111.761294,1.07284211 110.995873,1.52947368 C108.170219,3.21578947 105.12653,4.48084211 101.949134,5.28989474 C101.764788,5.33684211 101.574584,5.36063158 101.383752,5.36063158 C100.804978,5.36063158 100.242316,5.14442105 99.7997616,4.752 C96.4191873,1.75431579 92.0712701,0.103368421 87.5572117,0.103368421 C85.6039027,0.103368421 83.6317616,0.409684211 81.6954015,1.01389474 C75.6959075,2.88610526 71.066764,7.86526316 69.6143893,14.0084211 C69.0695134,16.3126316 68.9219951,18.6189474 69.175601,20.8631579 C69.2046861,21.1210526 69.0835328,21.3010526 69.0088321,21.3854737 C68.877635,21.5334737 68.6916156,21.6183158 68.4984818,21.6183158 C68.4769294,21.6183158 68.4547494,21.6172632 68.4327786,21.6151579 C55.3000973,20.3875789 43.4576253,14.0218947 35.0867494,3.69094737 C34.6598881,3.164 33.8413187,3.22863158 33.5010852,3.81578947 C31.861854,6.64526316 30.9955766,9.88147368 30.9955766,13.1745263 C30.9955766,18.2212632 33.0108224,22.9772632 36.5112944,26.4444211 C35.0392506,26.0932632 33.6144964,25.5402105 32.291017,24.8006316 C31.6507251,24.4427368 30.8629148,24.9027368 30.8539173,25.6395789 C30.7622676,33.1368421 35.1250414,39.808 41.6606229,42.812 C41.5290073,42.8151579 41.3973917,42.8166316 41.2655669,42.8166316 C40.2295912,42.8166316 39.1806423,42.716 38.1482238,42.5174737 C37.427163,42.3789474 36.8213966,43.0671579 37.0452895,43.7705263 C39.1666229,50.4338947 44.8689878,55.3454737 51.69291,56.4606316 C46.0294647,60.2856842 39.4342482,62.3033684 32.5699416,62.3033684 L30.4299854,62.3021053 C29.7706521,62.3021053 29.2130122,62.7345263 29.0449878,63.3770526 C28.8794745,64.0098947 29.1843455,64.6774737 29.7465888,65.0065263 C37.4815669,69.5355789 46.3044136,71.9292632 55.2651533,71.9292632 C63.1087299,71.9292632 70.4457226,70.3631579 77.0725353,67.2747368 C83.1475669,64.4433684 88.5159757,60.396 93.0285693,55.2450526 C97.2323163,50.4467368 100.519567,44.9075789 102.798672,38.7816842 C104.97127,32.9423158 106.119611,26.7115789 106.119611,20.7629474 L106.119611,20.4795789 C106.119401,19.5244211 106.548774,18.6256842 107.297873,18.0138947 C110.140477,15.6917895 112.615854,12.9583158 114.654954,9.88947368 C115.193343,9.07915789 114.344224,8.06357895 113.458277,8.45894737 Z" id="Path"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
